body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #e1e0e0;
  // background-color: #f4f4f4;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery-grid-container {
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

.gallery-grid-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 560px) {
  .v-stretch {
    grid-row: span 1;
  }

  .h-stretch {
    grid-column: span 1;
  }
}

.modal-open-disable-body-scroll {
  overflow-y: hidden;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #264a73;
  border-radius: 50%;
  width: 62.5px;
  height: 62.5px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-small {
  width: 31.25px;
  height: 31.25px;
  border: 7.5px solid #f3f3f3;
  border-top: 7.5px solid #264a73;
}

// **** Homepage ****

@import url(Homepage/homepageMainStyles.scss);
@import url(Homepage/homepageMediaQueries.scss);

// **** Navbar ****

@import url(Navbar/navbarMainStyles.scss);
@import url(Navbar/navbarMediaQueries.scss);

// **** Footer ****

@import url(Footer/footerMainStyles.scss);
@import url(Footer/footerMediaQueries.scss);

// **** Login ****

@import url(Login/loginMainStyles.scss);
@import url(Login/loginMediaQueries.scss);

//  **** Pricing and Services ****

@import url(Pricing/pricingMainStyles.scss);
@import url(Pricing/pricingMediaQueries.scss);

//  *** About Us ***

@import url(AboutUs/aboutUsMainStyles.scss);
@import url(AboutUs/aboutUsMediaQueries.scss);