$primary: #4f9d69;
$primary-varient: #6edd93;
$secondary: #071a2b;
$secondary-varient: #ffffff1a;
$secondary-varient-two: #1bb3f7;
$dark: #1d1d1d;
$white: #FFF;
$off-white: #F0F0F0;
$secondary-off-white: #F0F0F0;
$background: #FFF;
$backgroundSurface: #ebebeb;
$error: #CF6679;